//   .table td,
//   .table th {
//     vertical-align: middle;
//   }

// table i{
//   color: var(--yollow-color);

// }




actions-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}



.actions-cell .btn-edit {
  color: #28a745;
  /* اللون الأخضر */
}

.actions-cell .btn-view {
  color: #40e0d0;
  /* اللون التركوازي */
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

