<!--
       <div  [dir]="language === 'ar' ? 'ltr' : 'rtl'">
      <h2 class="mb-3">{{ 'WHAT_YOU_WILL_LEARN' | translate }}</h2>
      <mat-accordion>
        <ng-container *ngFor="let section of course?.sections; let i = index">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'SECTION' | translate }} {{ i + 1 }}: {{ section.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let lesson of section.lessons">
              <div class="d-flex justify-content-between">
                <h6 class="d-flex align-items-center">
                  <a style="font-size: 16px" (click)="playContent(path + lesson.contentURL, lesson.contentType)">
                    <i [ngClass]="{
                      'fa-brands fa-youtube': lesson.contentType.includes('video'),
                      'fa-regular fa-file-pdf': lesson.contentType.includes('pdf')
                    }"></i>
                    {{ lesson.title }}
                  </a>
                </h6>
                <span class="m-2">{{ lesson.duration | secodsToTime }}</span>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </div>
       <app-sidebar
        (mouseenter)="onSidebarHover()"
        (mouseleave)="onSidebarLeave()"
      ></app-sidebar>
    </div> -->
