@if (emailExist == false || emailExist == null) {
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-5">
                <div class="card-body login">
                    <h2 class="text-center mb-4">Forgot Password</h2>
                    <p>We’ll email you a link so you can reset your password.</p>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <span *ngIf="loadding == true">Sending Email </span>
                            <span *ngIf="emailExist == false"  class="err-msg"> Wrong Email </span>
                        </div>
                        <button type="submit" class="btn btn-login btn-block">Reset Password</button>
                    </form>
                    <p class="text-center mt-3">
                      or <a (click)="login()" style="cursor: pointer;" class="text-dark"> Log in</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
}


@if (emailExist == true) {
  <div class="container">
    <div class="confirmation-box">
        <i class="bi bi-check-circle-fill"></i>
        <div>
            <h5>Reset password email sent</h5>
            <p>You should soon receive an email allowing you to reset your password. Please make sure to check your spam and trash if you can't find the email.</p>
        </div>
    </div>
  </div>
}
