


.full-screen-image img {
  width: 100%;
  /* عرض الصورة بالكامل */
  height: 100%;
  /* ارتفاع الصورة بالكامل */
  object-fit: cover;
  /* لضبط الصورة مع الحفاظ على نسبة العرض إلى الارتفاع */
  display: block;
  /* لإزالة أي مسافة زائدة محتملة تحت الصورة */
}
::ng-deep button {
  border: 0;
}
