<div class="container">
  <div
  class="drag-drop-box"
  [class.dragging]="isDragging"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <ng-container *ngIf="photoPreview; else uploadPrompt">
    <img [src]="photoPreview" alt="Uploaded photo" class="uploaded-photo" />
  </ng-container>
  <ng-template #uploadPrompt>
    <p>Drag and drop a file here</p>
  </ng-template>
</div>
<button type="button" (click)="fileInput.click()">Browse files</button>
<input
  type="file"
  (change)="onFileSelect($event)"
  #fileInput
  style="display: none"
/>
</div>
